<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <style>
        span {
            float: left;
            display: inline-block;
            height: 40px;
        }

        input {
            border: 0 none;
        }

        .box {
            width: 300px;
            height: 300px;
            background-color: #808000;
            margin: 33px auto;
            padding: 30px;
        }

        .span1 {
            width: 150px;
            position: relative;
        }

        .input {
            height: 20px;
            width: 140px;
            padding: 10px 5px;
            position: absolute;
            top: 0;
        }

        .button {
            height: 40px;
            font: normal 18px/40px "微软雅黑";
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- Bootstrap Styles-->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-table.css" rel="stylesheet">

    <!-- FontAwesome Styles-->
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="~/Scripts/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="~/Content/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href="~/Content/fileinput.min.css" rel="stylesheet" />
    <style>
        .rowStyle {
            font-size: small
        }
    </style>
</head>

<body>
    <div>
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand" href="index.html"><img src="~/Content/image/logo2.png" /></div>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        欢迎登陆 @ViewData["StuName"]
                    </a>
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a id="change_password_button"  class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        密码修改
                    </a>

                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" href="/Gao_Home/ExitLogin" aria-expanded="false">
                        退出
                    </a>

                </li>
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">

            <div class="sidebar-collapse">
                <ul class="nav">
                    <li>
                        <a href="/GAO_Student/Index"><i class="fa fa-desktop"></i>个人资料</a>
                    </li>
                    <li>
                        <a  class="active-menu" href="/GAO_Student/Professor"><i class="fa fa-dashboard"></i>志愿提交</a>
                    </li>
                    <li>
                        <a id="finalWill_url" href="#"><i class="fa fa-qrcode"></i>查看结果</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">

            <div>
                <div class="row" style="position:fixed;background:white;z-index:1;padding-bottom:10px">
                    <div class="col-sm-5">
                        <label>第一志愿</label>
                        <input id="first" value="@ViewData["firstProName"]" name="@ViewData["firstUserId"]" readonly  required class="send-text" style="margin-top: 10px; margin-left:20px; height: 34px;border-radius:3px ;  border: 1px solid rgb(204,204,204) ;">
                    </div>
                    <div class="col-sm-5">
                        <label>第二志愿</label>
                        <input id="second" name="@ViewData["secondUserId"]" readonly value="@ViewData["secondProName"]"  required class="send-text" style="margin-top: 10px; margin-left:20px; height: 34px;border-radius:3px ;  border: 1px solid rgb(204,204,204) ;">
                    </div>
                    <div class="col-sm-2">
                        <button id="confirm" class="btn btn-default" style="right:auto;margin-top: 10px;">
                            确认提交
                        </button>
                    </div>

                </div>
                <div class="row" style="padding-top:65px">
                    <div class="col-sm-12">
                        <h2>
                            <label>  &nbsp; 教师列表</label>
                        </h2>
                    </div>
                </div>
                <div class="row" style="padding-top:10px;padding-bottom:10px">
                    <div class="col-sm-12">
                        <div class="dataTables_filter" id="dataTables-example_filter">
                            <input id="professorName" placeholder="搜索教师姓名" required class="send-text" style=" margin-left:15px; width: 200px;height: 34px;border-radius:3px ;  border: 1px solid rgb(204,204,204) ;">
                            <button id="searchProfessors" class="btn btn-default" style="margin-left:30px">搜索</button>
                        </div>
                    </div>

                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table id="professorTable" data-toggle="table" data-url="/Gao_Admin/getProfessors?p=0" data-row-style="rowStyle">
                        <thead>
                            <tr>
                                <th data-field="Order" style="font-size:small">序号</th>
                                <th data-field="ProName">姓名</th>
                                <th data-field="ProTitle">职称</th>

                                <th data-formatter="operateFormatter" data-align='center' data-events='operateEvents'>详情</th>
                                <th data-formatter="operateFormatter2" data-align='center' data-events='operateEvents2'>第一志愿</th>
                                <th data-formatter="operateFormatter3" data-align='center' data-events='operateEvents3'>第二志愿</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div style="clear:both"></div>
            </div>




            <!-- /. ROW  -->
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->


    <!--以下是更改密码模态框-->
    <div class="modal" id="change_password_modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4>更改密码</h4>
                </div>
                <div class="modal-body">
                    <input id="password_input" required class="send-text" style="margin-top: 10px; margin-left:20px; width: 200px;height: 34px;border-radius:3px ;  border: 1px solid rgb(204,204,204) ;">
                    <button id="change_password_submit_button" type="button" class="btn btn-default" style="left:auto">
                        更新
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--以上是更改密码模态框-->

    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-table.js"></script>
    <script src="~/Scripts/bootstrap-table-export.js"></script>
    <!-- Metis Menu Js -->
    <script src="~/Scripts/jquery.metisMenu.js"></script>
    <script src="~/Scripts/fileinput.min.js"></script>
    <script src="~/Scripts/zh.js"></script>

    <script>

        $(document).ready(function () {

            var a = @ViewData["TestSettingTime"];
            if(a==1||a==2){
                $("#finalWill_url").attr("href","#");
                $("#finalWill_url").click(function(){
                    alert("请等待导师完成选择");
                })
            }else if(a==0||a==3||a==4||a==5){
                $("#finalWill_url").attr("href","#");
            }else{
                $("#finalWill_url").attr("href","/GAO_Student/FinalWill");
            }

            var $table = $('#professorTable');
            $("#searchProfessors").click(function () {
                $table.bootstrapTable('refresh', { url: '/Gao_Admin/searchProfessors?professorName=' + $('#professorName').val() + '&p=' + 0 });
            });
            $("#uploadProfessors").click(function () {

                $("#batchAdd-teachers-modal").modal('show');
            });

            $("#confirm").click(function () {
                var data = {
                    "first": $("#first").attr("name"),
                    "second": $("#second").attr("name"),
                }
                if(data.first == "" || data.second==""){
                    alert("必须提交两个志愿");
                } else {
                    $.post("/GAO_Student/confirmWill", data, function (re) {
                        alert(re);
                    })
                }

            })

            $("#change_password_button").click(function () {
                $("#change_password_modal").modal('show');
            })

            $("#change_password_submit_button").click(function () {
                var data = {
                    'password': $("#password_input").val(),
                }

                $.post("/Gao_Home/changePassword", data, function (rel) {
                    alert(rel);
                    $("#change_password_modal").modal('hide');
                })
            })


         /*   var getProfessors = function () {
                var professors;
                var param = {
                    'professorName':$('#professorName').val(),
                    'p': $("#professAll").val()
                };
                $.post("/Gao_Admin/searchProfessors", param, function (data) {
                    professors = data;
                });
                return professors;
            }
            */
        })


        function rowStyle(row, index) {
            var style = {};
            style = { css: {'font-size': 'small' } };
            return style;

        }

        function operateFormatter(value, row, index) {

            return [
                  '<button type="button" class="btn btn-default btn-check rowStyle">查看</button> ',
            ].join('');
        }

        function operateFormatter2(value, row, index) {

            return [
                  '<button type="button" class="btn btn-default btn-add1 rowStyle">选择</button> ',
            ].join('');
        }

        function operateFormatter3(value, row, index) {

            return [
                  '<button type="button" class="btn btn-default btn-add2 rowStyle">选择</button> ',
            ].join('');
        }

        window.operateEvents = {

            'click .btn-check': function (e, value, row, index) {
                //  console.log(row);
                var data = {
                    'UserId': row["UserId"]
                }
                window.open(row["ProInfoUrl"]);
                //这里需要换一个url
                //window.location.href = ProfessorInformation(data.UserId).
            }
        };

        window.operateEvents2 = {

            'click .btn-add1': function (e, value, row, index) {
                //  console.log(row);
                $("#first").val(row["ProName"]);
                $("#first").attr("name", row["UserId"])
            },
        };

        window.operateEvents3 = {

            'click .btn-add2': function (e, value, row, index) {
                //  console.log(row);
                $("#second").val(row["ProName"]);
                $("#second").attr("name", row["UserId"])
            },
        };
    </script>

</body>

</html>